<h1 ng-hide="editing">{{recipe.name}}</h1>
<input ng-model="recipe.name" ng-show="editing"> <br>

<p ng-hide="editing">{{recipe.description}}</p>
<input ng-model="recipe.description" ng-show="editing"> <br>

<p ng-hide="editing">{{recipe.directions}}</p>
<input ng-model="recipe.directions" ng-show="editing"> <br>

<ol>
    <li ng-repeat="ingredient in recipe.ingredients"> {{ ingredient.name }} </li>
</ol>

<button class="btn btn-sm btn-danger" ng-click="deleteRecipe()">Delete</button>
<button class="btn btn-sm btn-info glyphicon glyphicon-pencil" ng-click="editing= !editing" ng-hide="editing" >Edit</button>
<button class="btn btn-sm btn-success glyphicon glyphicon-floppy-disk"
        ng-show ="editing"
        ng-click="saveEditedRecipe()">Save</button>

