<div class = "col-md-4">
    <div class="form-group">
        <label>Recipe Name:</label>
        <input class = "form-control" ng-model="recipe.name">
    </div>

    <br>

    <div class="form-group">

        <label>Recipe Description:</label>
        <textarea class="form-control" ng-model="recipe.description"></textarea>
    </div>
    <br>
    <div class="form-group">
        <label>Recipe Directions:</label>
        <textarea class="form-control" ng-model="recipe.directions"></textarea>
    </div>
        <br>

    <div class="form-group">
        <label>Ingredient</label>
        <input class= "form-control" ng-model="ingredientName">
        <button class="btn btn-group-xs btn-info" ng-click="addIngredientToRecipe(ingredientName)">
            Add Ingredient to Recipe</button>
    </div>
    <br>



    <ol>
        <li ng-repeat="ingredient in recipe.ingredients">{{ ingredient.name }}

        <i ng-click="removeIngredientFromRecipe(ingredient)"
           class = "btn btn-xs btn-danger glyphicon glyphicon-remove"></i>
        </li>
    </ol>



        </li>
    </ol>

    <button class= "btn btn-md btn-success" ng-click="addRecipe()">Save Recipe</button>

    </div>